menu "LAN Test"

config LAN_TEST_PHY_ADDR
    int "PHY address"
    default 1

config LAN_TEST_PHY_RST_GPIO
    int "PHY reset GPIO (-1 = none)"
    default -1

config LAN_TEST_MDC_GPIO
    int "SMI MDC GPIO"
    default 41

config LAN_TEST_MDIO_GPIO
    int "SMI MDIO GPIO"
    default 40

config LAN_TEST_RMII_CLK_IN_GPIO
    int "RMII REF_CLK input GPIO (EMAC_RMII_CLK)"
    default 50

config LAN_TEST_DHCP_TIMEOUT_MS
    int "DHCP wait timeout (ms)"
    default 8000

endmenu
